.transactions-root {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: $nav-bar-height;
  margin-bottom: $footer-height;
  background-color: $white;
  max-height: calc(100% - $nav-bar-height - $footer-height);
}

.top {
  display: flex;
  flex-direction: column-reverse;

  .open-form {
    display: flex;
    justify-content: center;
  }
}

.bottom {
  display: flex;
}

@media (min-width: $tablet) {
  .transactions-root {
    margin: $nav-bar-height auto $footer-height;
    min-width: 750px;
    width: 80vw;
  }

  .top {
    display: flex;
    flex-direction: row;

    & > * {
      flex: 1;
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .bottom {
    display: flex;
  }
}
