html {
  font-size: 13px;
}

body {
  color: $text;
  font-family: 'Jost', sans-serif;
}

@media (min-width: 480px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: $tablet) {
  html {
    font-size: 18px;
  }
}
