$primary: #225df2;
$secondary: #a4a1b9;
$accent: #e8eefd;
$success: #31da9f;
$warning: #fea22b;
$danger: #dc4747;
$dark: #191528;
$medium: #3a4580;
$light: #a4a1b9;
$text: #191528;
$text-light: #fff;
$white: #fff;
$black: #000;

//sizes
$nav-bar-height: 5vh;
$footer-height: 5vh;

//media queries
$mobile: 480px;
$tablet: 768px;
