$primary: #225df2;
$secondary: #a4a1b9;
$success: #31da9f;
$warning: #fea22b;
$danger: #dc4747;
$dark: #191528;
$medium: #3a4580;
$light: #a4a1b9;
$text: #fff;
$white: #fff;
$black: #000;

$nav-bar-height: 5vh;
$footer-height: 5vh;

$tablet: 768px;
