@mixin transaction-list {
  display: grid;
  grid-template-columns: 6rem minmax(30%, 100%) auto;
  grid-template-rows: auto;
  height: fit-content;
  align-items: center;
  padding: 1rem 0.5rem 1rem;
  color: $dark;
}
